data/*
*.h5
*.pkl
*.RData
*.rdb
*.rdx
*.pyc
server/imagecaption/*
*latex/*
evaluation/*alpha.vs./*.jpg
evaluation/examples/*.jpg
evaluation/activation_viz/*
evaluation/alpha6vs7/*
evaluation/alpha7vs8/*
*.csv
